@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400;500;700&display=swap');

@layer base {
  body {
    @apply font-[DM+Serif+Display];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}



.content-div {
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to right,
  #0582ca,
  #003554)!important;
}


.active {
  border: 2px solid white;
}